<footer class="shadow mt-auto bg-gray-900">
  <div class="w-full max-w-screen-xl mx-auto p-4">
    <div class="sm:flex sm:items-center sm:justify-between">
      <%= link_to root_path, class: "flex items-center" do %>
       <%= image_tag "logo.svg", class: "h-8 mr-3", alt: "Logo" %>
      <% end %>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
        <li>
          <%= link_to "Pricing", "#", class: "mr-4 hover:underline md:mr-6" %>
        </li>
        <li>
          <%= link_to "About", "#", class: "mr-4 hover:underline md:mr-6" %>
        </li>
        <li>
          <%= link_to "Contact", "#", class: "mr-4 hover:underline md:mr-6" %>
        </li>
      </ul>
    </div>
    <hr class="my-6 sm:mx-auto border-gray-700" />
    <span class="block text-sm sm:text-center text-gray-400">
      © 2023
      <%= link_to "ROZETKA™", root_path, class: "hover:underline" %>
      All Rights Reserved
    </span
    >
  </div>
</footer>
