<div class="max-w-screen-lg mx-auto rounded-lg shadow-lg m-4 p-6 bg-gray-900 flex flex-col justify-between">
  <dl class="min-w-full text-white bg-gray-900 divide-y divide-gray-700">
    <div class="flex flex-col pb-3">
      <dt class="mb-1 text-gray-400 md:text-sm">Full name</dt>
      <dd class="text-sm font-semibold"><%= order.full_name %></dd>
    </div>
    <div class="flex flex-col py-3">
      <dt class="mb-1 text-gray-400 md:text-sm">Home address</dt>
      <dd class="text-sm font-semibold"><%= order.address %></dd>
    </div>
    <div class="flex flex-col pt-3 mb-4">
      <dt class="mb-1 text-gray-400 md:text-sm">Phone number</dt>
      <dd class="text-sm font-semibold"><%= order.phone %></dd>
    </div>
    <div class="flex flex-col pt-3 mb-4">
      <dt class="mb-1 text-gray-400 md:text-sm">Order date</dt>
      <dd class="text-sm font-semibold"><%= order.created_at %></dd>
    </div>
  </dl>
  <div class="relative mb-4 rounded-lg">
    <table class="min-w-full mx-auto text-sm text-left text-gray-400">
      <thead class="text-xs text-gray-400 uppercase bg-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3">Product name</th>
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3">Total price</th>
        </tr>
      </thead>
      <tbody>
        <% order.product_orders.each do |i| %>
          <tr class="bg-gray-900 border-b border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-400 whitespace-nowrap">
              <%= i.product.name %>
            </th>
            <td class="px-6 py-4"><%= i.amount %></td>
            <td class="px-6 py-4">
              <%= number_to_currency(i.product_total_sum) %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="font-semibold text-white bg-gray-900">
          <th scope="row" class="px-6 py-3 text-base">Total</th>
          <td class="px-6 py-3">
            <%= order.total_amount %>
          </td>
          <td class="px-6 py-3">
            <%= number_to_currency(order.total_sum) %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <%= button_to "Cancel order", order, method: :delete, class: "btn-danger" %>
</div>
