<%= simple_form_for product, html: { class: "form" } do |f| %>
  <div class="mb-6">
    <%= f.input :name, label: "Product name", label_html: { class: "form-label" }, input_html: { class: "form-input" }, error_html: { class: "form-input-error" } %>
  </div>

  <div class="mb-6">
    <%= f.input :description, as: :text, label: "Product description", label_html: { class: "form-label" }, input_html: { class: "form-input" } %>
  </div>

  <div class="mb-6">
    <%= f.input :price, as: :string, label: "Product price", label_html: { class: "form-label" }, input_html: { class: "form-input w-[100px]" }, error_html: { class: "form-input-error" } %>
  </div>

  <div class="mb-6">
    <%= f.input :balance, label: "Product price", label_html: { class: "form-label" }, input_html: { min: 0, class: "form-input w-[100px]" }, error_html: { class: "form-input-error" } %>
  </div>

  <%= f.submit "Submit", class: "btn-success" %>
<% end %>
