<div
  class="mx-auto w-[250px] border rounded-lg shadow bg-gray-800 border-gray-700 m-3"
>
  <%= link_to product_path(product) do %>
    <%= image_tag "product-default.png", class: "w-[200px] h-[200px] mx-auto rounded-t-lg", alt: "product" %>
  <% end %>
  <div class="px-5 pb-5">
    <h5 class="text-xl font-semibold tracking-tight text-white">
      <%= product.name %>
    </h5>
    <h5 class="text-xl my-3 font-semibold tracking-tight text-white">
      <%= product.description.truncate(15) %>
    </h5>
    <h5 class="text-xl font-semibold tracking-tight text-gray-500">
      $<%= product.price %>
    </h5>
    <h5 class="text-xl my-3 font-semibold tracking-tight text-white">
      balance&nbsp;
      <%= product.balance %>
    </h5>
    <div class="flex justify-between">
      <%= link_to "Edit", edit_product_path(product), class: "text-white mr-4 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-green-700 hover:bg-green-900 focus:ring-green-800" %>
      <%= button_to "Delete", product, method: :delete, class: "text-white mr-4 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-red-500 hover:bg-red-700 focus:ring-red-800" %>
    </div>
  </div>
</div>
