<div
  class="mx-auto w-[400px] border rounded-lg shadow bg-gray-800 border-gray-700 m-3"
>
  <%= link_to product_path(product) do %>
    <%= image_tag "product-default.png", class: "w-[400px] h-[400px] mx-auto rounded-t-lg", alt: "product" %>
  <% end %>
  <div class="px-5 pb-5">
    <h5 class="text-xl font-semibold tracking-tight text-white">
      <%= product.name %>
    </h5>
    <h5 class="my-3 text-xl font-semibold tracking-tight text-white">
      <%= product.description %>
    </h5>
    <h5 class="text-xl font-semibold tracking-tight text-gray-500">
      <%= number_to_currency(product.price) %>
    </h5>
    <h5 class="my-3 text-xl font-semibold tracking-tight text-white">
      balance&nbsp;
      <%= product.balance %>
    </h5>
    <div class="flex justify-between">
      <%= link_to "Edit", edit_product_path(product), class: "btn-success" %>
      <%= button_to "Delete", product, method: :delete, class: "btn-danger" %>
    </div>
  </div>
</div>
